- name: secure ssh
  ansible.builtin.copy:
    dest: /etc/ssh/sshd_config.d/00_secure_ssh.conf
    owner: root
    group: root
    mode: '0644'
    content: |
      PasswordAuthentication no
      PermitRootLogin no
      X11Forwarding no
      LoginGraceTime 30
      MaxAuthTries 2
      MaxSessions 2
      MaxStartups 2
      PubkeyAcceptedAlgorithms ssh-ed25519-cert-v01@openssh.com,rsa-sha2-512-cert-v01@openssh.com
      HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com
  notify: restart sshd
