[Unit]
Description=Sync CloudyHome ansible self provisioning repo
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /var/lib/cloudyhome/ansible
ExecStart=/usr/local/libexec/cloudyhome-sync/git-sync.sh

[Install]
WantedBy=multi-user.target
