- name: allow release info change
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/99-release_info_change
    state: present
    create: true
    line: Acquire::AllowReleaseInfoChange::Codename "true";
    mode: "0644"
  when: system_allow_release_info_change

- name: update apt repository cache
  ansible.builtin.apt:
    update_cache: true
    upgrade: true
    autoclean: true
    autoremove: true

- name: install unattended-upgrades
  ansible.builtin.apt:
    name: unattended-upgrades
    state: present
    autoremove: true

- name: enable APT periodic update
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/10auto-upgrades
    mode: '0644'
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";

- name: ignore all install recommends and suggestions
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/90no-recommends
    mode: '0644'
    content: |
      APT::Install-Recommends "false";
      APT::Install-Suggests "false";

- name: configure unattended upgrades
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/52unattended-upgrades
    mode: '0644'
    content: |
      # ansible managed unattended-upgrades

      Unattended-Upgrade::Origins-Pattern {
          "origin=Debian,codename=${distro_codename}-updates";
          "origin=Debian,codename=${distro_codename}-proposed-updates";
          "origin=Debian,codename=${distro_codename},label=Debian";
          "origin=Debian,codename=${distro_codename},label=Debian-Security";
          "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
      }

      Unattended-Upgrade::AutoFixInterruptedDpkg "true";
      Unattended-Upgrade::Automatic-Reboot "true";
      Unattended-Upgrade::Automatic-Reboot-Time "02:00";
      Unattended-Upgrade::Automatic-Reboot-WithUsers "true";
      Unattended-Upgrade::InstallOnShutdown "false";
      Unattended-Upgrade::Mail "root";
      Unattended-Upgrade::MailReport "only-on-error";
      Unattended-Upgrade::MinimalSteps "true";
      Unattended-Upgrade::OnlyOnACPower "false";
      Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
      Unattended-Upgrade::Skip-Updates-On-Metered-Connections "false";
      Unattended-Upgrade::Verbose "true";

- name: enable unattended upgrades
  ansible.builtin.systemd_service:
    state: started
    enabled: true
    daemon_reload: true
    name: "unattended-upgrades.service"

- name: install packages
  ansible.builtin.apt:
    name: "{{ system_install_packages }}"
    state: present
    autoremove: true
    install_recommends: false

- name: remove packages
  ansible.builtin.apt:
    name: "{{ system_remove_packages | default([]) }}"
    state: absent
    purge: true
    autoremove: true
  when: system_remove_packages | default([]) | length > 0
