- name: allow release info change
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/99-release_info_change
    state: present
    create: true
    line: Acquire::AllowReleaseInfoChange::Codename "true";
    mode: "0644"
  when: system_allow_release_info_change

- name: update apt repository cache
  ansible.builtin.apt:
    update_cache: true
    upgrade: true

- name: install packages
  ansible.builtin.apt:
    name: "{{ system_install_packages }}"
    state: present

- name: install unattended-upgrades
  ansible.builtin.apt:
    name: unattended-upgrades
    state: present

- name: enable APT periodic update
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";

- name: configure unattended upgrades
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: '0644'
    content: |
      # ansible managed unattended-upgrades

      Unattended-Upgrade::Origins-Pattern {
        "origin=Debian,codename=${distro_codename},label=Debian";
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
      }

      Unattended-Upgrade::AutoFixInterruptedDpkg "true";
      Unattended-Upgrade::Automatic-Reboot "true";
      Unattended-Upgrade::Automatic-Reboot-Time "02:00";
      Unattended-Upgrade::Automatic-Reboot-WithUsers "true";
      Unattended-Upgrade::OnlyOnACPower "true";
      Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
      Unattended-Upgrade::Mail "root";
      Unattended-Upgrade::MailReport "on-change";

- name: enable unattended upgrades
  ansible.builtin.systemd_service:
    state: started
    enabled: true
    daemon_reload: true
    name: "unattended-upgrades.service"

- name: download SOPS package and verify checksum
  ansible.builtin.get_url:
    url: "{{ system_sops_deb_url }}"
    dest: "{{ system_sops_download_path }}"
    checksum: "sha256:{{ system_sops_checksum_sha256 }}"
    mode: '0644'

- name: install SOPS package
  ansible.builtin.apt:
    deb: "{{ system_sops_download_path }}"
    state: present

- name: clean up downloaded file
  ansible.builtin.file:
    path: "{{ system_sops_download_path }}"
    state: absent
