[Unit]
Description=NFS mount for {{ nfs.mountpoint }}
Wants=network-online.target
After=network-online.target

[Mount]
What={{ nfs.server }}:{{ nfs.export }}
Where={{ nfs.mountpoint }}
Type=nfs
Options={{ nfs.options | default(nfs_options) }}

[Install]
WantedBy=multi-user.target
